# Port d'écoute interne du container
PORT=3000

# Identifiants du Dashboard
ADMIN_USER=admin
ADMIN_PASSWORD=mon_mot_de_passe_fort

# Notifications Système (Optionnel)
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...

# Overseerr Integration (Optionnel - Peut être géré via le dashboard)
OVERSEERR_URL=http://192.168.x.x:5055
OVERSEERR_API_KEY=ta_cle_api_overseerr
